.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
}

.form {
  margin-bottom: 30px;
}

.title{
  margin-right: 60px;
  font-size: 21px;
  font-weight: bold;
  color: $dark;
}

.header{
  display: flex;
  margin-bottom: 60px;
}
.page-content{
  padding: 60px 30px 20px;
  background: url('~images/content/main-bg-admin.jpg') center center /cover no-repeat;
  flex: 1;
  min-height: 100vh;
}