.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablets {
    display: none;
  }
}

.header-tablets{
  display: none;
  @include tablets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 112px;
  }
  .logo{
    z-index: 101;
  }
  .social{
    @include phones{
      display: none;
    }
  }
}