.menu{
  display: flex;
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    margin-right: 35px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      font-weight: 600;
      color: #5500F2;
      border-bottom: 3px solid #5500F2;
    }
  }
}