.skills{

  &__wrapper{
    display: flex;
    justify-content: flex-end;
  }
  &__item{
    margin-bottom: 54px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-row{
    &__list{
      display: flex;
    }
    &__item + &__item{
      margin-left: 66px;
    }
    &__title{
      margin-bottom: 40px;
    }
  }
}