.triangles{
  display: flex;
  height: 100px;
  position: absolute;
  fill: #fff;
  &-pointed-down{
    .triangles__shape{
      transform: rotate(180deg);
    }
  }
  @include tablets{
    height: 30px;
  }
}

.triangles__shape{
width: 58%;
height: 100%;
}