.user{
  &__avatar{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    @include tablets{
      display: block;
    }
    @include phones{
      display: flex;
      justify-content: center;
      margin-bottom: 42px;
    }
    &-pic{
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
}