.values{
  &__wrapper{
    margin-bottom: 80px;
  }
  &__title{
    display: flex;
    justify-content: center;
    &-wrapper{
      width: 40%;
      margin-left: 6%;
    }
    &-text{
      margin-bottom: 40px;
    }
  }
  &__content-text{
    color: rgba($dark,.8);
    font-weight: 600;
    line-height: 30px;
  }
}