.works{
  &-preview{
    display: flex;
    height: 100%;
    &__slider{
      height: 100%;
      width: 60%;
      margin-right: 15%;
    }
  }
  &__content{
    height: 100%;
  }
  &__title{
    margin-bottom: 83px;
    font-weight: 600;
  }
}