.works{
  &-preview{
    display: flex;
    justify-content: space-between;
    height: 100%;
    &__slider{
      height: 100%;
      margin-right: 9.375rem;
      width: 65%;
    }
  }
  &__content{
    height: 100%;
  }
  &__title{
    margin-bottom: 83px;
    font-weight: 600;
  }
}