
.skill-component {
  display: flex;
  align-items: center;
  color: $dark;
}

.title {
  font-size: 16px;
  flex: 1;
}

.buttons {
  display: flex;
  align-items: center;
}

.percent {
  margin: 0 30px;
}

.btn +.btn {
  margin-left: 22px;

}