.about
  .about__user
    .user
      .user__avatar
        .user__avatar-style 
          +image('content/Vitaliy.png','user__avatar-pic',alt="main-user",height="100%",width="100%")
    table.user__data
      each item in userInfo
        tr.user__data-row 
          td.user__data-title #{item[0]}
          td.user__data-content #{item[1]}
  .about__content 
    .about__subtitle 
      p Привет, меня зовут
    .about__title 
      h2 Виталий Рыбалкин
    .about__desc 
      p Я Frontend-разработчик занимаюсь разработкой современных сайтов и приложений, обожаю делать крутые визуальные штуки и безумно влюблен в верстку
    .about__ps 
      p.
       Интересуюсь нативным JavaScript, фреймворками (упор на React) и имею страстную любовь к верстке.#[br]
       Мой гитхаб аккаунт можно посмотреть по #[a.about__link(href="https://github.com/ViRybalkin.") ссылке]#[br] 
       Люблю путешествовать, читать художественную литературу и приготавливать различные блюда. Отдельная любовь — это мир Толкина.