.footer__copyright 
  .footer__copyright-col 
    .footer__copyright-year 
      p &copy; 2021
    .footer__copyright-userinfo
      .footer__copyright-name
        p Виталий Рыбалкин
      .footer__copyright-text 
        p Личный сайт веб-разработчика
.footer__data 
  nav.menu.menu__footer 
    ul.menu__list 
      each value,key in menuItem 
        li.menu__item
          a.menu__link(href=value,rel="noopener",aria-label="menu item name") #{key}
  .footer__data-content
    .footer__data-col 
      .footer__data-text 
        p Этот сайт сделан при помощи технолгий Pug и Vue.js
      .footer__data-socials
        nav.social.social-round-borders
          ul.social__list
            each value,key in socialItem
              li.social__item 
                a.social__link(href=value,target="_blank",rel="noopener",aria-label="social icon")
                  +icon(key,'social__icon')
    .footer__data-col 
      .text-quote 
        .text-quote__text
          p Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program.
        .text-quote__author 
          p Linus Torvalds

    