.hero-btn
   a.menu__link(href='#about',rel="noopener").hero-btn__text Скролл #[+icon('scroll','hero-btn__button')]
//- .hero-btn
//-   button(type='button' aria-label="Scroll button").hero-btn__text Скролл
//-    +icon('scroll','hero-btn__button')