.values__wrapper
  .values__title
    .values__title-wrapper
      .values__title-text
        h3 Чем я могу быть полезен вам
      .values__content-text
        p Здесь вы увидите какими языками и технологиями я владею