.about 
  .about__person 
    .about__avatar
    ul.about__info
      li.about__item
        p.about__info__title Проживаю:
        p.about__info__subtitle Новосибирск
      li.about__item 
        p.about__info__title Возвраст:
        p.about__info__subtitle 27 лет
      li.about__item
        p.about__info__title Родился:
        p.about__info__subtitle 1 января 1991 
  .about__text
    .about__subtitle
      p Привет, меня зовут
    .about__title
      h2  Владимир Астаханов
    .about__text2 
      p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
    .about__project
      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!