header
  .header
    .logo 
      h2.logo_icon ВА
    - var menuItem = ['Обо мне',"Навыки",'Работы','Отзывы']
    nav.menu
      ul.menu__list
        each item in menuItem
          li.menu__item 
            a.menu__link(href="#") #{item}
    - var socialItem = ['insta','github','vk','mail']
    nav.social 
      ul.social__list 
        each item in socialItem
          li.social__item 
            a.social__link(href="#")
              +icon(item,'social__icon') 
