.skills
  .skills__wrapper
    h3.skills__title Чем я могу быть полезен вам
    .skills__subtitle Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .skills__block
      h4.skills__block-title Front-end
      ul.skills__list
        li.skills__item.skill.skill__html HTML5 
        li.skills__item.skill.skill__css CSS3
        li.skills__item.skill.skill__js javascript
        li.skills__item.skill.skill__vue Jquery и Vue.js
      h4.skills__block-title Workflow
      ul.skills__list
        li.skills__item.skill.skill__git GIT
        li.skills__item.skill.skill__terminal Terminal
        li.skills__item.skill.skill__gulp Gulp
        li.skills__item.skill.skill__webpack Webpack