.skills
  .skills__title
    h3.skills__title-text Чем я могу быть полезен вам
  .skills__subtitle-text 
    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  .skills__wrapper
    -
      var skillsItems = [
        ['Front-end',['HTML5','CSS3','javascript','Vue.js']],
        ['Workflow',['GIT','Terminal','Gulp','Webpack']],
      ]
    ul.skills__list
      each category in skillsItems
        li.skills__item
          .skills-row
            .skills-row__title #{category[0]}
              ul.skill__row-list
                each skill in category[1]
                  li.skills-row__item
                    .skill #{skill}