.review 
   ul.review__list
    li.review__item
      .review__content
        .review__text 
          p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .review__user
          .user-display 
            .user-display-avatar 
              .user__dsplay-style
                +image('content/Dmitriy.png','user__photo')
            .user-display__text
              .user-display__name 
                p Ковальчук Дмитрий
              .user-display__job 
                p Основатель Loftschool
    li.review__item
      .review__content
        .review__text 
          p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах 
        .review__user
          .user-display 
            .user-display-avatar 
              .user__dsplay-style
                +image('content/Vladimir.png','user__photo')
            .user-display__text
              .user-display__name 
                p Владимир Сабанцев
              .user-display__job 
                p Преподаватель
