.slider__header
  .slider__title 
    h3 Что обо мне говорят
  .slider__btn
    button(type='button').slider-btn__item.slider-btn__item--right
    button(type='button').slider-btn__item.slider-btn__item--left