.works-preview__info
  .tags
    - var tags = ['HTML','CSS','Javascript']
      .tags__list
        each item in tags 
          li.tags__item
            .tag #{item}
  .works-preview__title
    h2 Сайт школы образования
  .works-preview__desc 
    p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
  a(href="").iconed__link Посмотреть сайт