extends ./pages/main.layout.pug
include ./mixins.pug

block layout 
  section.section.section-hero
    //- +image('content/main-bg.jpg','main-bg')
    .container.container-hero
      include ./pages/header.pug
      include ./pages/hero.pug
      .arrow
        p.arrow__text Скролл
        a.arrow_link(href="#")
          .arrow__icon
        //- +icon('link', 'link-class')
    //- +image('content/user.jpg', 'user-pic')
    //- .icon-bg