extends ./pages/main.layout.pug

block layout
  .section-welcome
    section.section.section-hero
      .container.container-hero
        include ./pages/header.pug
        include ./pages/hero.pug
        include ./pages/hero-btn.pug
    section.section.section-about
      .container.container-about
        include ./pages/about.pug
  .section-middle
    include ./pages/triangles-top.pug
    section.section.section-values 
      .container.container-values
        .value-wrapper
          include ./pages/values.pug
          include ./pages/skills.pug
    //- include ./pages/triangles-bottom.pug
    section.section.section-works 
      .container.container-works
        .works__wrapper
          .works__title 
            h2 Мои работы
          .works__content 
            .works-preview
              include ./pages/works-images.pug
              include ./pages/works-info.pug
  section.section.section-reviews 
    .container.container-reviews
      .slider 
        include ./pages/slider.pug
        include ./pages/review.pug

          //- +icon('link', 'link-class')
      //- +image('content/user.jpg', 'user-pic')
      //- .icon-bg