extends ./main.layout.pug


block layout
  .section-welcome
    section.section.section-hero#main
      .container.container-hero
        include ./templates/components/header.pug
        include ./templates/components/hero.pug
        include ./templates/components/hero-btn.pug
    section.section.section-about#about
      .container.container-about
        include ./templates/components/about.pug
  .section-middle
    include ./templates/components/triangles-top.pug
    section.section.section-values#values
      .container.container-values
        .value-wrapper
          include ./templates/components/values.pug
          .skills__wrapper
            #skills-component
    include ./templates/components/triangles-bottom.pug
    section.section.section-works#works
      .container.container-works
        .works__wrapper
          .works__title 
            h2 Мои работы
          .works__content
            #preview-component
  section.section.section-reviews#reviews
    .container.container-reviews
      #slider-component
  footer.footer
    .container.container-footer
      include ./templates/components/footer.pug