extends ./components/main.layout.pug


block layout
  .section-welcome
    section.section.section-hero
      .container.container-hero
        include ./components/header.pug
        include ./components/hero.pug
        include ./components/hero-btn.pug
    section.section.section-about
      .container.container-about
        include ./components/about.pug
  .section-middle
    include ./components/triangles-top.pug
    section.section.section-values 
      .container.container-values
        .value-wrapper
          include ./components/values.pug
          include ./components/skills.pug
    //- include ./components/triangles-bottom.pug
    section.section.section-works 
      .container.container-works
        .works__wrapper
          .works__title 
            h2 Мои работы
          .works__content 
            .works-preview
              include ./components/works-images.pug
              include ./components/works-info.pug
  section.section.section-reviews 
    .container.container-reviews
      .slider 
        include ./components/slider.pug
        include ./components/review.pug
  footer.footer
    .container.container-footer
      include ./components/footer.pug



      